dd
{
    border: 1px solid #000000 !important;
    height: 50px !important;
    width: 50px !important;
}

dd, dt
{
    margin: 0 !important;
    padding: 0 !important;
}

dl
{
    float: left !important;
    margin: 1em !important;
    padding: 0 !important;
}

dt
{
    font-family: monospace !important;
}

h2
{
    clear: both !important;
}