#foreach($pet in $pets)
<tr>
    <td><a href="viewOwner.jsp?id=${pet.id}">${pet.name}</a></td>
    <td><img alt="" src="/game/i/hp-${pet.hp}.png"/></td>
    <td><a id="pet${pet.id}" class="open_attack" href="#">>></a></td>
</tr>
<tr id="pet${pet.id}" class="do_attack" style="display:none; color:red;">
	<td colspan="3" style="text-align:center;">
		<a href="#" onclick="attack_pet(${pet.id})">Attack ${pet.name}</a>
	</td>
</tr>
#end
