#foreach($pet in $pets)
<tr>
    <td><a href="/game/viewOwner.jsp?id=${pet.id}">${pet.name}</a></td>
    <td><img alt="" src="/game/i/hp-${pet.hp}.png"/></td>
    <td><a id="pet${pet.id}" onclick="show_pet_target(${pet.id})">>></a></td>
</tr>
#end
