#foreach($i in $inv)
    #if ($i.equipped)
        <tr>
            #if ($i.type == "weapon" || $i.type == "armor")
                <td>$i.name ($i.condition) ($i.ammoleft)</td>
            #else
                <td>$i.name</td>
            #end
            <td>1</td><td>$i.wt</td><td>
            <a href="unequip?weaponid=${i.itemid}" >Unequip</a>
        </td></tr>
    #end
#end

##do stacking of inventory.  Doing this in the database would be easier, but I'd rather have the load on the client.
#set( $lastItem = -1 )
#set( $lastDisplayName = "Fred" )
#set( $count = 1 )
#foreach($i in $inv)
    #if ($i.equipped)
    #else
        ##set the display name
        #if ($i.type == "weapon" || $i.type == "armor")
            #set( $displayName = $i.name + " (" + $i.condition + ") (" + $i.ammoleft + ")" )
        #else
            #set( $displayName = $i.name )
        #end
        ##if this the first item, set it to "last" and continue
        #if ( $lastItem == -1 )
            #set( $lastItem = $i )
            #set( $lastDisplayName = $displayName )
        ##if this item displays differently, print out the last item and reset last item
        #elseif ( $lastDisplayName == $displayName )
            #set($count = $count + 1)
        #else
            #set($wt = ${lastItem.wt} * ${count})
            <tr>
                <td>$lastDisplayName</td>
                <td>$count</td>
                <td>$wt</td><td>
                #if ($lastItem.type == "food")
                    <a href="#" onclick="eat(${lastItem.itemid})">Eat</a>
                #elseif ($lastItem.type == "booze")
                    <a href="#" onclick="drink(${lastItem.itemid})">Drink</a>
                #elseif ($lastItem.type == "weapon" || $lastItem.type == "armor" || $lastItem.type == "wearable")
                    <a href="equip?weaponid=${lastItem.itemid}" >Equip</a>
                #elseif ($lastItem.typeid == 49 && $location.allowrecharage == "t")
                    ##empty energy packs
                    <a href="#" onclick="recharge(${lastItem.itemid})" >Recharge</a>
                #end
            </td></tr>
            #set( $lastItem = $i )
            #set( $lastDisplayName = $displayName )
            #set( $count = 1 )
        #end
    #end
#end
##duplicate of what's just a few lines up to handle the last item.
#set($wt = ${lastItem.wt} * ${count})
#if ($lastDisplayName != "Fred" )
    <tr>
    <td>$lastDisplayName</td>
    <td>$count</td>
    <td>$wt</td><td>
    #if ($lastItem.type == "food")
    <a href="#" onclick="eat(${lastItem.itemid})">Eat</a>
    #elseif ($lastItem.type == "booze")
    <a href="#" onclick="drink(${lastItem.itemid})">Drink</a>
    #elseif ($lastItem.type == "weapon" || $lastItem.type == "armor" || $lastItem.type == "wearable")
    <a href="equip?weaponid=${lastItem.itemid}" >Equip</a>
    #elseif ($lastItem.typeid == 49 && $location.allowrecharage == "t")
    ##empty energy packs
    <a href="#" onclick="recharge(${lastItem.itemid})" >Recharge</a>
    #end
    </td></tr>
#end
