#foreach($i in $inv)
<tr>
    #if ($i.type == "weapon" || $i.type == "armor")
        <td>$i.name ($i.condition) ($i.ammoleft)</td>
    #else
        <td>$i.name</td>
    #end
    <td>$i.wt</td><td>
    #if ($i.type == "food")
        <a href="#" onclick="eat(${i.itemid})">Eat</a> | <a href="#" onclick="drop(${i.itemid});">Drop</a>
    #elseif ($i.type == "booze")
        <a href="#" onclick="drink(${i.itemid})">Drink</a> | <a href="#" onclick="drop(${i.itemid});">Drop</a>
    #elseif ($i.type == "weapon" || $i.type == "armor" || $i.type == "wearable")
        #if ($i.equipped)
            <a href="unequip?weaponid=${i.itemid}" >Unequip</a>
        #else
            <a href="equip?weaponid=${i.itemid}" >Equip</a> | <a href="#" onclick="drop(${i.itemid});">Drop</a>
        #end
    #elseif ($i.typeid == 49 && $location.allowrecharage == "t")
        ##empty energy packs
        <a href="#" onclick="recharge(${i.itemid})" >Recharge</a> | <a href="#" onclick="drop(${i.itemid});">Drop</a>
    #else
        <a href="#" onclick="drop(${i.itemid});">Drop</a></td>
    #end
</td></tr>
#end
