#foreach($item in $ground)
<tr>
    <td>${item.name}</td>
    <td><a href="#" onclick="doTransfer(${item.itemid},${location.locid},${stats.altid})">Pick up</a> | <a href="#" onclick="alert('Not implemented yet');">Shoot</a></td>
</tr>
#end
