#* used for admin pages *#
Located at ($x, $y) on level $level of $station station
<br/>Named $name, it is a $type
<br/>
<br/><u>Characters here</u>
<ul>
#foreach($o in $occs)
    <li><a href="../viewCharacter.jsp?id=${o.id}">$o.name</a> (L$o.level)</li>
#end
</ul>
<u>Critters here</u>
<ul>
#foreach($p in $pets)
    ##<li>$o.type named $o.name in brood $o.brood (owned by $o.owner)
    <li><a href="viewCritter.jsp?id=${p.id}">$p.name</a> (brood $p.brood)</li>
#end
</ul>

<form action="broadcastLocation">
    <input type="hidden" name="locid" value="${locid}">
    Send message to this location: <input type="text" name="msg" width="40" value=""/><input type="submit"/>
    <br/>Note: message will show up as "etherial"
</form>
