#set( $canRecharge = "f" )
#set( $needRecharge = "f" )

#foreach($i in $inv)
    #if ($i.name == "Energy pack" )
        #set( $canRecharge = "t" )
    #end
    #if ($i.type == "weapon" || $i.type == "armor")
        #if( $i.damagetype == "e" && $i.ammoleft lt $i.capacity )
            #set( $needRecharge = "t" )
        #end
    #end
    #if ($i.type == "weapon" && $i.damagetype == "e" && $stats.firearms gt 3 && $i.ammoleft lt ( $i.capacity * 2 ) )
        #set( $needRecharge = "t" )
    #end
#end

#if( $needRecharge == "t"  && $canRecharge == "t" )
    <form method="post" action="#" onsubmit="recharge($('\#recharge-itemid').val()); return false">
        <select id="recharge-itemid" name="itemid">
            #foreach($i in $inv)
                #if ($i.type == "weapon" && $i.damagetype == "e" && $stats.firearms gt 3 && $i.ammoleft lt ( $i.capacity * 2 ) && $i.ammoleft gt ($i.capacity -1 ))
                        <option value="$i.itemid">$i.name ($i.condition) ($i.ammoleft)</option>
                #end
                #if (($i.type == "weapon" || $i.type == "armor") && $i.damagetype == "e" && $i.ammoleft lt $i.capacity)
                        <option value="$i.itemid">$i.name ($i.condition) ($i.ammoleft)</option>
                #end
            #end
        </select>
        <input type="submit" value="Recharge"/>
    </form>
#end
