<form method="post" action="#" onsubmit="recharge($('\#recharge-itemid').val()); return false">
    <select id="recharge-itemid" name="itemid">
        #foreach($i in $inv)
            #if ($i.type == "weapon" || $i.type == "armor")
                #if( $i.damagetype == "e" && $i.ammoleft < $i.capacity)
                    <option value="$i.itemid">$i.name ($i.condition) ($i.ammoleft)</option>
                #end
            #end
        #end
    </select>
    <input type="submit" value="Recharge"/>
</form>
