#set ($da = $stats.ticksalive / 96)
<b>Days alive</b>: $da
<br/><b>Level</b>: $stats.level
<br/><b>Unspent CP</b>: $stats.cp
<br/><span class="stat_counter hp"><b>HP</b>: $stats.hp</span>
<br/><span class="stat_counter ip"><b>IP</b>: $stats.ip</span>
<br/><span class="stat_counter ap"><b>AP</b>: $stats.ap</span>
<br/><span class="stat_counter xp"><b>XP</b>: $stats.xp</span>

